@model IEnumerable<TiendaEnLinea2.Data.Models.Producto>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio</h1>

<p>
    <div class="btn-group">
        <a asp-action="Create" class="btn btn-outline-success">Crear uno nuevo</a>
        <a asp-action="Index" asp-controller="Admin" class="btn btn-outline-info">Regresar</a>
    </div>
    
</p>
<table class="table table-responsive table-danger">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>Imagen</th>
            <th>Puntuaci&oacute;n</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="text-wrap">
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <img src="~/UploadedImages/@item.Imagen" class="img-fluid"/>
            </td>
            <td>
                <span class="alert alert-danger">
                    @item.Calification
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </span>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
