@model TiendaEnLinea2.Data.Models.Order

@{
    ViewData["Title"] = "Cancelar";
}

<h1>Cancelar orden</h1>

<h3>¿Estas seguro que deseas cancelar tu orden? Puede que se te cobre una comision</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colonia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Politicas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Politicas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enviado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enviado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordenado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordenado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
    <div class="btn-group">
        <a class="btn btn-outline-danger" asp-action="C2" asp-route-id="@Model.id">Cancelar orden</a>
        <a class="btn btn-outline-success" asp-action="MisCompras">Salir</a>
    </div>
   
</div>
