@model TiendaEnLinea2.Data.Models.Contacto

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de querer eliminar esto?</h3>
<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <div class="btn-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-outline-info">Regresar</a>
        </div>
    </form>
</div>
