@model IEnumerable<TiendaEnLinea2.Data.Models.Brand>

@{
    ViewData["Title"] = "Inicio";
}

<div class="btn-group">
    <a asp-action="Create" class="btn btn-outline-success">Crear uno nuevo</a>
    <a asp-action="Index" asp-controller="Admin" class="btn btn-outline-info">Regresar</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Eliminar</a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
